{% extends 'base.html.twig' %}


{% block body %}

 <h1 class="container seConnecter"> Se connecter</h1>

 <form method="post" action="{{ path('app_login') }}" class="container emailConnect">
  {{ form_row(form.email) }}
  {{ form_row(form.password) }}

  <br>
  <div class="mdpOublie">
   <a href="/MotdePasseOublie" style="color: black">Mot de passe oublié</a>
   <div>
    <button class="btnSeConnecter" type="submit">Se connecter</button>
   </div>
  </div>
 </form>

 <div>

  <div class="container emailConnect">
   <h2>Email : </h2>

   <input type="text" class="inputNom">
  </div>

  <div class="container emailConnect">
   <h2>Mot de passe : </h2>

   <input type="text" class="inputNom">
   <div>
    <br>
    <div class="mdpOublie">
     <a href="/MotdePasseOublie" style="color: black " >Mot de passe oublié</a>
     <div>
      <button class="btnSeConnecter"
              type="button">
      Se connecter
      </button>
     </div>
    </div>
   </div>
  </div>

 </div>

{% endblock %}