{% extends 'base.html.twig' %}


{% block body %}

 <h1 class="container seConnecter"> Se connecter</h1>

 <div>

  <div class="container emailConnect">
   <h2>Email : </h2>
   <input type="text" class="inputNom">
  </div>


  <div class="container emailConnect">
   <h2>Mot de passe : </h2>
   <input type="text" class="inputNom">
   <div>
    <br>
    <div class="mdpOublie">
     <a href="#" style="color: black " >Mot de passe oublié</a>
     <div>
      <button class="btnSeConnecter"
              type="button">
      Se connecter
      </button>
     </div>
    </div>
   </div>
  </div>

 </div>

{% endblock %}