{% extends 'base.html.twig' %}


{% block body %}

    <h1 class="container h1Inscrire">S'inscrire</h1>


    <div class="container">
    <div class="nomInscription">
        <div>
            <h1>Nom :</h1>
            <input type="text" class="inputNom">
        </div>

        <div>
            <h1>Prénom :</h1>
            <input type="text" class="inputNom">
        </div>

    </div>


    </div>
{% endblock %}