/*PAGE D'ACCUEIL*/
/*header/NAVBAR*/
.logoNavBar {
    width: 40px;
    border-radius: 5rem;
}

.navbar {
    background-color: #0D1321;
}

.TitleNavbar {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

a.TitleNavbar:hover {
    color: white;
    text-decoration: none;
}

.Accueil {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

a.Accueil:hover {
    color: white;
    text-decoration: none;
}

.SeConnecter {
    color: white;
    text-decoration: none;
}

a.SeConnecter:hover {
    color: white;
    text-decoration: none;
}

.nav1 {
    margin-left: 2rem;
}

.nav2 {
    margin-right: 2rem;
}

/*FIN HEADER*/


/*Image d'accueil*/
.PhotoAccueil {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .PhotoAccueil {
        width: 100%;
    }
}

.titreBienvenue {
    margin: -226px;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    width: auto;
    padding-top: 37rem;
    color: #0D1321;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .titreBienvenue {
        font-size: 2rem;
        margin-top: 5rem;
        padding-top: 0;
    }
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 80%;
    max-width: 500px;
}

/*Image d'accueil*/

/* Les cartes de figures */

.listFigure {
    padding-top: 9rem;
    text-align: center;
    font-size: 50px;
    font-family: 'Frijole', cursive;
}


.card-title1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Frijole', cursive;
}

.cardsFigure {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Les cartes de figures */

/* Footer */

.footer {
    background-color: #0D1321;
    width: 100%;
    padding: 6rem 3rem;
    margin: 10rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titreFooter {
    display: flex;
    justify-content: space-between;
    color: white;
    width: 100%;
    max-width: 1200px;
}

.titreNav, .newsletterForm, .reseauxFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoFooter {
    width: 8rem;
    border-radius: 20rem;
    margin-right: 3rem;
}

.accueilFooter, .inscriptionFooter {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin: 1rem 0;
}

.accueilFooter::before, .inscriptionFooter::before {
    content: "➢ ";
}

.emailFooter {
    border-radius: 7px;
    border: none;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.newsletterForm .btnSinscrire {
    width: fit-content;
    margin: 1rem auto 0;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 11px;
    background-color: #D9D9D9;
    color: #0D1321;
    font-size: 1.5rem;
}

.newsletterForm .btnSinscrire:hover {
    background-color: #0D1321;
    color: #D9D9D9;
    cursor: pointer;
}

.reseauxFooter {
    margin-top: 2rem;
}

.reseauxFooter a {
    margin: 0 1rem;
}

.instaFooter, .tweetFooter, .whatsappFooter {
    width: 3rem;
}

/* Media queries */

@media screen and (max-width: 768px) {

    .footer {
        padding: 3rem 1rem;
    }

    .titreFooter {
        flex-direction: column;
        align-items: center;
    }

    .photoFooter {
        margin-right: 0;
        margin-bottom: 2rem;
    }

}

@media screen and (min-width: 768px) and (max-width: 1100px) {

    .footer {
        padding: 6rem 3rem;
    }

}

@media screen and (min-width: 1100px) and (max-width: 1820px) {

    .footer {
        padding: 6rem 5rem;
    }

}

/*PAGE D'ACCUEIL*/