/*PAGE DE PRÉSENTATION DE FIGURE*/

.presentation {
    text-align: center;
    padding-top: 10rem;
    font-family: 'Frijole', cursive;
}

.groupeDesc {
    justify-content: space-between;
    display: flex;
    padding-top: 10rem;
}

.carousel{
    width: 500px;
}

.titreFigure {
    font-family: 'Frijole', cursive;
}

.textDesc {
    font-family: 'Frijole', cursive;
    padding-left: 12rem;
}


.descFigure {
    width: 30rem;
    height: 32rem;
    /*border: none;*/
}

.echange{
    text-align: center;
    padding-top: 10rem;
}

.echangeInput {
    width: 81rem;
    height: 20rem;
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top:3rem;
}

.textDesc2 {
    margin: 0 12rem
}

.btnEnvoiMsg {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 5rem 0 0 0;
}

.envoyer {
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    height: 3rem;
    width: 10rem;
    margin-top: 2rem;
}

.imageUser {
    height: 7rem;
    border-radius: 10px;
    margin-top: 10rem;
    padding-left: 2rem;
}

.publicationMsg {
    display: flex;
    text-align: center;
}

.infoMsg {
    justify-content: space-between;
    display: flex;
}

.echangeUser{
    width: 66rem;
    height: 14rem;
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 10rem;
}
@media screen and (max-width: 1200px) {
    .echangeUser {
        width: 33rem;
        height: 7rem;
    }
}
@media screen and (max-width: 900px) {
    .echangeUser {
        width: 25rem;
        height: 7rem;
    }
}

@media screen and (max-width: 800px) {
    .echangeUser {
        width: 16.5rem;
        height: 3.5rem;
    }
}


.infoUser{
    display: flex;
    justify-content: space-between;
}
.modifFigure {
    text-decoration: none;
    justify-content: flex-end;
    display: flex;
    margin-right: 25rem;
    color: black;
    font-size:1.5rem;
}
.suprimerFigure {
    text-decoration: none;
    justify-content: flex-end;
    display: flex;
    margin-right: 25rem;
    color: black;
    font-size:1.5rem;
}

#commentaire_contenu {
    border: none;
    background-color: #D9D9D9;
    resize: auto;
}
/*PAGE DE PRÉSENTATION DE FIGURE*/