/*PAGE DE CONNECTION*/

.seConnecter {
    padding-top: 10rem;
}

.emailConnect {
    margin-top:5rem;
}

.mdpOublie{
    display: flex;
    justify-content: space-between;
}
.btnSeConnecter {
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
}

/*PAGE DE CONNECTION*/

/*PAGE D'INSCRIPTION*/

.h1Inscrire {
    padding:10rem;
}

.nomInscription {
    display: flex;
    justify-content: space-between;
}

/*PAGE D'INSCRIPTION*/

/*PAGE D'INSCRIPTION*/

.titreInscrire {
    padding:10rem;
}

.formNom {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 2rem;

}

.utilPhoto {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 2rem;
}

.mailPassword {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    margin-top: 2rem;

}

.form-control {
    height: 2rem;
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.btnPageInscription {
    font-size: 18px;
    width: 20rem;
    height: 2rem;
    border: none;
    background-color: #D9D9D9;
    border-radius: 10px;
    margin-top: 2rem;
}



/*PAGE D'INSCRIPTION*/

/*PAGE MOT DE PASSE OUBLIÉ*/


.titreMdp {
    padding-top: 10rem;
}

.divBtnMdp {
    display:flex;
    justify-content:center;

}
.btnMdp {
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    height: 40px;
    font-size: 25px;
}
/*PAGE MOT DE PASSE OUBLIÉ*/

/*PAGE REINITIALISATION MOT DE PASSE OUBLIÉ*/

.initialiserMdp {
    display:flex;
    justify-content:space-between;
    padding:10px;
}


/*PAGE REINITIALISATION MOT DE PASSE OUBLIÉ*/