/*PAGE D'ACCUEIL*/
/*header/NAVBAR*/
.logoNavBar {
    width: 40px;
    border-radius: 5rem;
}

.navbar {
    background-color: #0D1321;
}

.TitleNavbar {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}

a.TitleNavbar:hover {
    color: white;
    text-decoration: none;
}

.Accueil {
    color: white;
    text-decoration: none;
    margin-right: 2rem;
}

a.Accueil:hover {
    color: white;
    text-decoration: none;
}

.SeConnecter {
    color: white;
    text-decoration: none;
}

a.SeConnecter:hover {
    color: white;
    text-decoration: none;
}

.nav1 {
    margin-left: 2rem;
}

.nav2 {
    margin-right: 2rem;
}

/*FIN HEADER*/


/*Image d'accueil*/
.PhotoAccueil {
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    .PhotoAccueil {
        width: 100%;
    }
}

.titreBienvenue {
    margin: -226px;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    width: auto;
    padding-top: 37rem;
    color: #0D1321;
    white-space: nowrap;
}
@media screen and (min-width:  960px) {
    .titreBienvenue {
        padding-top: 18rem;
        font-size: 5rem;
    }
}
@media screen and (max-width:  960px) {
    .titreBienvenue {
    padding-top: 18rem;
        font-size: 4rem;
    }
}
@media screen and (max-width:  800px) {
    .titreBienvenue {
        padding-top: 18rem;
        font-size: 3rem;
    }
}
@media screen and (max-width:  700px) {
    .titreBienvenue {
        padding-top: 17rem;
        font-size: 2rem;
    }
}

figure {
    position: relative;
}

figcaption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 80%;
    max-width: 500px;
}

/*Image d'accueil*/

/* Les cartes de figures */

.listFigure {
    padding-top: 9rem;
    text-align: center;
    font-size: 50px;
    font-family: 'Frijole', cursive;
}


.card-title1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Frijole', cursive;
}

.cardsFigure {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* Les cartes de figures */

/* Footer */

.footer{
    background-color: #0D1321;
    width: 100%;
    padding: 12rem;
    margin: 10rem 0 0 0;
}
@media screen and  (min-width: 1100px) and (max-width: 1820px) {
    .footer {
        padding-right: 1rem;
    }

}

.footerCopy {
    background-color:#D9D9D9;
    width: 100%;
    margin: 0;
    padding: 3rem;
}

.copyright {
    text-align: center;
}

.photoFooter {
    width: 10rem;
    border-radius: 20rem;
    margin-left: -15rem;
}


.titreFooter {
    display: flex;
    justify-content: space-between;
    color:white;
}
@media screen and (max-width: 1100px) {
    .titreFooter {
        flex-direction: column;
    }
}

.accueilFooter {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
a.accueilFooter:hover {
    color:white;
    text-decoration: none;
}

.titreNav {
    display:grid;
}

.inscriptionFooter {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
a.inscriptionFooter:hover {
    color:white;
    text-decoration: none;
}

.emailFooter {
    border-radius: 7px;
    border: none;
    text-align: center;
}

.newsletterForm {
    display: flex;
    flex-direction: column;
}

.newsletterForm .btnSinscrire {
    width: fit-content;
    margin: 5px auto auto;
}

.btnSinscrire {
    border: none;
    border-radius: 11px;
}

.instaFooter {
    width: 40px;
}

.tweetFooter {
    width: 40px;
}

.whatsappFooter {
    width: 40px;
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 3rem 1rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1100px) {
    .footer {
        padding: 8rem 2rem;
    }
}

@media screen and (min-width: 1101px) and (max-width: 1820px) {
    .footer {
        padding: 12rem 4rem;
    }
}

@media (max-width: 768px) {
    .photoFooter {
        margin-left: 0;
        margin-right: auto;
    }
}

/* Footer */
/*PAGE D'ACCUEIL*/