{% block header %}
<!-- Barre de navigation -->
<nav class="navbar">
    <div class="nav1">
        <img class="logoNavBar" src="{{ asset('image/Logo.png') }}">
        <a id="TitleNavbar1" class="TitleNavbar">Snow Tricks</a>
    </div>
    <div class="nav2">
        <a class="Accueil" href="#">Accueil</a>
        {% if is_granted('ROLE_USER') %}
            <a class="SeConnecter" href="#">Se déconnecter</a>
        {% else %}
            <a class="SeConnecter" href="#">Se connecter</a>
        {% endif %}
    </div>
</nav>
{% endblock %}