{% extends 'base.html.twig' %}


{% block body %}


    <h1 class="container titreMdp"> Réinitialiser mon mot de passe </h1>

    <div class="container initialiserMdp">
        <div class=" ">
            <h2>Mot de passe : </h2>
            <input type="text" class="inputNom">
        </div>
        <div class=" ">
            <h2>Confirmez le mot de passe : </h2>
            <input type="text" class="inputNom">
        </div>
    </div>

    <div class="container divBtnMdp">
        <button class="btnMdp"
                type="button">
            Réinitialiser
        </button>
    </div>


{% endblock %}